/* src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* GLOBAL STYLES */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Background: #F0F8FF (Alice Blue) */
  background-color: #F0F8FF; 
}

#root {
  width: 100%;
}

/* Memastikan smooth scroll untuk single-page view */
html {
  scroll-behavior: smooth;
}